
@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

#topbar .topbar-logo {
    display: flex;
    align-items: center;
}

#topbar .topbar-logo img {
    height: 70px;
}

#topbar {
    background: #27374D;
    height: 90px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

#topbar .contact-info {
    flex-direction: column;
}

#topbar .contact-info i {
    font-style: normal;
    color: #fff;
}

#topbar .contact-info i a {
    padding-left: 8px;
    color: #fff;
}

#topbar .contact-info i a {
    transition: 0.3s;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

#topbar .contact-info a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
}

@media (max-width: 1000px) {
    #topbar .contact-info {
        display: none !important;
    }
}

@media (max-width: 770px) {
    #topbar .sublogotxt {
        display: none !important;
    }
}

@media (max-width: 576px) {
    #topbar .logo-text {
        margin-left: 1rem;
    }
}

@media (min-width: 576px) {
    #topbar .logo-text {
        margin-left: 2rem;
    }
}

#topbar .logotxt {
    font-family: 'Barlow Condensed', sans-serif;
}

#toptopbar {
    background: #DDE6ED;
    height: 30px;
    font-size: 12px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.header__toprightmenu {
    background: #000;
    float: right;
    padding-left: 15px;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.header__language {
    float: right;
    padding: 1px 0 0 67px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.marquee {
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.marquee p {
    display: inline-block;
    animation: marquee 15s linear infinite;
    margin-bottom: 0;
}

.marquee:hover p {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.marquee p a::after {
    content: "";
    width: 1px;
    background: #930303;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.marquee p a {
    padding: 0 20px;
    position: relative;
}

.marquee p a {
    color: #930303;
}

.marquee p a:hover {
    color: #27374D;
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-item a {
    color: #fff;
}

.carousel-item a:hover {
    color: #526D82;
}

.vis-mis-carousel img {
    border-radius: 1em;
    object-fit: cover;
/*    max-height: 400px;*/
    height: 300px;
    width: 500px;

}

.vis-mis-carousel p {
    margin: 10px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.carousel {
    padding: 0px 20px 0px 20px;
}

.read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 10px;
}

.read-more:hover i {
    margin-left: 5px;
}

.bg-op-dark {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 1em;
}

@media (max-width: 768px) {
    .col-md {
        flex-shrink: 1;
    }
}

.card {
    border: none !important;
    background-color: #f6f9fe;
}

.swiper {
    border-radius: 1em;
}

.img-bg {
    width: 100%;
    height: 175px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
}

@media (max-width: 276px) {
    .img-bg {
        height: 150px;
    }
}

@media (min-width: 376px) {
    .img-bg {
        height: 200px;
    }
}

@media (min-width: 476px) {
    .img-bg {
        height: 300px;
    }
}

@media (min-width: 576px) {
    .img-bg {
        height: 350px;
    }
}

@media (min-width: 768px) {
    .img-bg {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .img-bg {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    .img-bg {
        height: 550px;
    }
}

@media (min-width: 1300px) {
    .img-bg {
        height: 600px;
    }
}

.img-bg:before {
    position: absolute;
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
}

.img-bg .img-bg-inner {
    z-index: 2;
    position: absolute;
    right: 5%;
    bottom: 1.25rem;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    color: #fff;
}

@media (max-width: 376px) {
    .img-bg .img-bg-inner {
        padding: 5px;
        margin-bottom: 5px;
    }

    .img-bg .img-bg-inner h2 {
        font-size: calc(1.1rem);
    }
}

@media (min-width: 376px) {
    .img-bg .img-bg-inner {
        padding: 7px;
        margin-bottom: 7px;
    }

    .img-bg .img-bg-inner h2 {
        font-size: calc(1.325rem + .3vw);
    }
}

@media (min-width: 476px) {
    .img-bg .img-bg-inner {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
    }

    .img-bg .img-bg-inner h2 {
        font-size: calc(1.325rem + .6vw);
    }
}

@media (min-width: 576px) {
    .img-bg .img-bg-inner {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 768px) {
    .img-bg .img-bg-inner {
        padding-left: 0;
        padding-right: 0;
    }

    .img-bg .img-bg-inner h2 {
        font-size: calc(1.325rem + .9vw);
    }
}

.img-bg .img-bg-inner h2,
.img-bg .img-bg-inner p {
    color: #fff;
}

@media (max-width: 576px) {
    .img-bg .img-bg-inner p {
        display: none;
    }
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

@media (max-width: 768px) {

    .custom-swiper-button-next,
    .custom-swiper-button-prev {
        display: none;
    }
}

.custom-swiper-button-next span,
.custom-swiper-button-prev span {
    color: rgba(255, 255, 255, .7);
    transition: 0.3s all ease;
}

.custom-swiper-button-next:hover span,
.custom-swiper-button-next:focus span,
.custom-swiper-button-prev:hover span,
.custom-swiper-button-prev:focus span {
    color: rgba(var(255, 255, 255), 1);
}

.custom-swiper-button-next {
    right: 40px;
}

.custom-swiper-button-prev {
    left: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, .9);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, .9);
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #27374D;
    text-decoration: none;
}

a:hover {
    color: #526D82;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.cpoint {
    cursor: pointer;
}

.modal-body p {
    text-align: justify;
}

.modal .modal-content .modal-header {
    padding: 5px 15px;
}

.modal .modal-content {
    background: radial-gradient(circle, rgba(221, 230, 237, 1) 50%, rgba(150, 167, 191, 1) 100%);
    border: none !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #27374D;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #27374D;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #9DB2BF;
    color: #27374D;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: white;
}

#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
    height: 50px;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #106eea;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #526D82;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #526D82;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 130px;
}

.navbar .dropdown ul a {
    padding: 6px 12px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #526D82;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

.navbar .megamenu {
    position: static;
}

.navbar .megamenu ul {
    margin-top: 5px;
    right: 0;
    padding: 10px;
    display: flex;
}

.navbar .megamenu ul li {
    flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
    color: #222222;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
    color: #526D82;
}

.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 992px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 8px 16px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #526D82;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #526D82;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

.help .table-responsive {
    padding: 40px;
    background: url(../img/tablebg.png) no-repeat;
    background-size: cover;
}

.help .table td {
    vertical-align: middle;
}

.help .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(167, 173, 182, 0.1);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(82, 95, 113, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.help .table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #A7ADB6;
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.announcements .table-responsive {
    padding: 20px;
    background: url(../img/tablebg.png) no-repeat;
    background-size: cover;
}

.announcements .table td {
    vertical-align: middle;
    text-align: justify;
}

.announcements .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(167, 173, 182, 0.1);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(82, 95, 113, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.announcements .table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #A7ADB6;
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

#hero h1 span {
    color: #106eea;
}

#hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
}

#hero .btn-get-started:hover {
    background: #247cf0;
}

#hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#hero .btn-watch-video i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

#hero .btn-watch-video:hover {
    color: #106eea;
}

#hero .btn-watch-video:hover i {
    color: #3b8af2;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 75vh;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .btn-get-started,
    #hero .btn-watch-video {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    #hero {
        height: 75vh;
    }
}

@media (max-height: 650px) {
    #hero {
        height: 100vh;
    }
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #9DB2BF;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    border-radius: 3%;
}

.testimonials .testimonial-item .testimonial-img {
    width: 100%;
    border-radius: 5%;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #111;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #526D82;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #526D82;
}

.testimonials .swiper-slide {
    opacity: 0.3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }

    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

.testimonials-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.testimonials-header {
    text-align: center;
    padding-bottom: 40px;
}

.testimonial-item p {
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.counts {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/counter-bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.counts .section-title {
    color: #fff;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #f1f6fe;
}

.counts .count-box i {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.card_counts {
    padding: 13px 0 20px;
    margin-bottom: 30px;
    min-height: 100px;
}

.card_tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    color: #fff;
}
/*.card_userdetails h2,p{
    font-family: 'Playball', cursive !important;

}*/
.card_userdetails h2 {
    font-family: 'Playball', cursive !important;
    color: #fff;
    margin: 0;
}

.card_userdetails p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin: 8px 30px 0 0;
    font-family: 'Playball', cursive !important;
}

@media (max-width: 1199px) {
    .card_userdetails p {
        margin: 5px 0;
    }
}

@media (max-width: 576px) {
    .counts .col-sm-4 {
        flex: 0 0 auto;
        width: 50%;
    }

    .card_counts {
        margin-bottom: 0;
    }
}

@media (max-width: 300px) {
    .counts .col-sm-4 {
        flex: 0 0 auto;
        width: 100%;
    }

    .card_counts {
        margin-bottom: 0;
    }
}

#hod img {
    border-radius: 5%;
}

.hod-name-bg {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50px;
    padding: 5px;
}

#hod p {
    text-align: justify;
}

section {
    padding: 40px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f9fe;
}

.section-title {
    padding-bottom: 25px;
    color: #27374D;
}

.section-title h3:before {
    content: "";
    position: relative;
    bottom: 2px;
    display: inline-block;
    width: 3px;
    height: calc(1.2rem + 0.9vw);
    background: #526D82;
    margin-right: 10px;
    vertical-align: middle;
}

.section-title h2 {
    font-weight: 700;
    font-size: calc(1.3rem + .9vw);
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: calc(1.1rem + .8vw);
    font-weight: 700;
}

.section-title h3 span {
    color: #106eea;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

.section-sub-title {
    padding-bottom: 15px;
    color: #27374D;
}

.teaching .staff {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.1);
    padding: 30px;
    border-radius: 10px;
}

.teaching .staff .pic {
    overflow: hidden;
    width: 160px;
    border: 0.5px solid #9DB2BF;
    border-radius: 30%;
}

.teaching .staff .pic img {
    transition: ease-in-out 0.3s;
}

.teaching .staff:hover img {
    transform: scale(1.1);
}

.teaching .staff .staff-info {
    padding-left: 30px;
    width: 400px;
}

.teaching .staff h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}

.teaching .staff span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.teaching .staff span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}

.teaching .staff p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.teaching .staff p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.teaching .staff .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.teaching .staff .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #27374D;
}

.teaching .staff .social a i {
    color: #fff;
    font-size: 15px;
    margin: 0 2px;
}

.teaching .staff .social a:hover {
    background: #526D82;
}

.teaching .staff .social a+a {
    margin-left: 8px;
}

.single-staff {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 20px 15px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-staff:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-staff .staff-image-wrapper {
    width: 160px;
    position: relative;
    margin: 0px auto 25px;
}

.single-staff .staff-image {
    border: 0.5px solid #9DB2BF;
    border-radius: 30%;
}

.single-staff .staff-image img {
    width: 100%;
    border-radius: 30%;
}

.single-staff .shape {
    position: absolute;
    z-index: -1;
}

.single-staff .shape.shape-1 {
    top: 0;
    left: 0;
}

.single-staff .shape.shape-2 {
    bottom: 0;
    right: 0;
}

.single-staff .staff-info {
    text-align: center;
}

.single-staff .staff-info h5 {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.single-staff .staff-info h6 {
    font-weight: 500;
    font-size: 12px;
    color: var(--body-color);
    margin-bottom: 10px;
}

.single-staff .staff-socials {
    display: flex;
    justify-content: center;
}

.single-staff .staff-socials a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #27374D;
    margin: 5px;
}

.single-staff .staff-socials a i {
    color: #fff;
    font-size: 15px;
    margin: 0 2px;
}

.single-staff .staff-socials a:hover {
    background: #526D82;
}

.single-scholars {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    transition: 0.3s;
}

.single-scholars:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.scholars-img img {
    max-width: 100px;
    min-width: 100px;
    height: auto;
    border-radius: 30%;
}

.single-scholars .social {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-scholars .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.single-scholars .scholars-info {
    padding-left: 30px;
}

.single-scholars .scholars-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}

.single-scholars .scholars-info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.single-scholars .scholars-info span {
    margin-bottom: 5px;
    font-size: 14px;
}

.single-scholars .scholars-info h5 {
    margin-bottom: 5px;
    font-size: 14px;
}

.single-scholars .scholars-info h6 {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
}

.single-scholars .scholars-info h6::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
}

.single-scholars .scholars-info p {
    margin-bottom: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.single-student {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-student:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-student .student-info h5 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.single-student .student-info h6 {
    font-weight: 500;
    font-size: 13px;
}

.single-student .student-info p {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
    text-align: right;
}

.single-student .student-info h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.students #students-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.students #students-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    border: 1px solid #f6f9fe;
}

.students #students-flters li:hover,
.students #students-flters li.filter-active {
    color: #526D82;
    border-color: #526D82;
}

@media (max-width: 500px) {
    .students #students-flters li {
        padding: 10px 10px 10px 10px;
    }
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
}

.coursesoffered .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(167, 173, 182, 0.1);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(82, 95, 113, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.coursesoffered .table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #A7ADB6;
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.coursesoffered .table td {
    vertical-align: middle;
}

.placement .placement-slider .swiper-slide {
    transition: 0.3s;
}

.placement .placement-slider .swiper-slide:hover {
    transform: scale(1.1);
}

.placement .placement-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.placement .placement-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #526D82;
}

.placement .placement-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #526D82;
}

.placement .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(167, 173, 182, 0.1);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(82, 95, 113, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.placement .table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #A7ADB6;
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.facilities .img {
    border-radius: 8px;
    overflow: hidden;
}

.facilities .img img {
    transition: 0.6s;
}

.facilities .details {
    padding: 10px 10px;
    margin: -60px 20px 0 20px;
    transition: all ease-in-out 0.3s;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: height 0.5s ease-in-out;
}

.facilities .details h3 {
    color: #27374D;
    font-weight: 700;
    margin: 8px 0 8px 0;
    font-size: calc(1rem + .2vw);
}

.facilities .details p {
    font-size: calc(0.8rem + .1vw);
    margin-bottom: 0;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.facilities .details:hover h3 {
    color: #526D82;
}

.facilities .facilities-item:hover .img img {
    transform: scale(1.1);
}

.facilities .details:hover {
    margin-top: -250px;
    height: 290px;
    transition-delay: 0.5s;
}

@media (max-width: 400px) {
    .facilities .details:hover {
        margin-top: -200px;
        height: 240px;
        transition-delay: 0.5s;
    }
}

.facilities .details:hover p {
    overflow: unset;
    -webkit-box-orient: unset;
}

.centre-head {
    background: url(../img/centre-head-bg.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.centre-head::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.centre-head .section-title {
    padding-bottom: 0;
    color: #fff;
}

.centre-about .about p {
    text-align: justify;
}

.centre-about .cendiv-link a {
    font-size: calc(1rem + .5vw);
    font-weight: 600;
}

.centre-about .cendiv-link i {
    margin-left: 10px;
    font-size: calc(1rem + .5vw);
    font-weight: 600;
}

.centre-dir-head {
    padding: 30px 0 50px 0;
    background: rgba(167, 173, 182, 0.2);
}

.centre-dir-head .section-title {
    padding-bottom: 50px;
}

.centre-dir-head .content h2 {
    color: #27374D;
    font-size: calc(1.1rem + .8vw);
    font-weight: 700;
    margin-bottom: 10px;
}

.centre-dir-head .content h3 {
    color: #27374D;
    font-size: calc(1rem + .4vw);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: end;
}

.centre-dir-head .content h3 em {
    font-style: normal;
    position: relative;
}

.centre-dir-head .content h3 em:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: rgba(82, 109, 130, 0.5);
    z-index: -1;
}

.centre-dir-head .content p {
    text-align: justify;
}

.centre-dir-head .img {
    position: relative;
    min-width: 100%;
}

.centre-dir-head .img:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(82, 109, 130, 0.5);
    border-radius: 15px;
    transform: rotate(12deg);
}

.centre-dir-head .img:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(82, 109, 130, 0.9);
    border-radius: 15px;
    transform: rotate(6deg);
}

.centre-dir-head .img img {
    position: relative;
    z-index: 3;
    border-radius: 15px;
    min-width: 100%;
}

.single-awarded {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-awarded:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-awarded h6 {
    text-align: justify;
    margin-bottom: 5px;
    font-size: 18px;
}

.single-awarded p {
    margin-bottom: 5px;
}

.single-awarded span {
    color: #27374D;
    font-weight: 550;
}

.publication .container {
    padding: 20px;
    background: rgba(167, 173, 182, 0.2);
    border-radius: 15px;
}

.publication ol li {
    padding-left: 10px;
    padding-right: 20px;
    transition: 0.3s;
}

.publication ol li:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.list {
    text-align: justify;
    list-style-type: '\27A2';
    padding-left: 1rem;
}

.mb-10 {
    margin-bottom: 10px;
}

.font-18 {
    font-size: 18px;
    line-height: 1.65em;
}

.single-projects {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-projects:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-projects h6 {
    margin-bottom: 5px;
    font-size: 18px;
}

.single-projects p {
    margin-bottom: 5px;
}

.single-projects span {
    color: #27374D;
    font-weight: 550;
}

.single-consultancy {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-consultancy:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-consultancy h6 {
    margin-bottom: 5px;
    font-size: 18px;
}

.single-consultancy p {
    margin-bottom: 5px;
}

.single-consultancy span {
    color: #27374D;
    font-weight: 550;
}

.single-patents {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.single-patents:hover {
    transform: scale(1.02);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.single-patents h6 {
    margin-bottom: 5px;
    font-size: 18px;
}

.single-patents p {
    margin-bottom: 5px;
}

.single-patents span {
    color: #27374D;
    font-weight: 550;
}

.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery .gallery-item img {
    transition: 0.3s;
    min-width: 100%;
}

.gallery .gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    line-height: 1.2;
    margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
    color: #fff;
}

.gallery .gallery-links .details-link {
    font-size: 30px;
    line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
    opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
    margin-top: 0;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.glightbox-clean .gslide-description {
    background: #222425;
}

.glightbox-clean .gslide-title {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.glightbox-container .gslide-inner-content {
    width: 100%;
}

@media (min-width: 770px) {
    .glightbox-container .gslide-inner-content {
        width: 50%;
    }
}

#footer {
    padding: 0 0 20px 0;
    color: #444444;
    font-size: 14px;
    background: #9DB2BF;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f1f6fe;
    text-align: center;
    font-size: 15px;
}

#footer .credits a:hover {
    font-size: 17px;
    font-weight: 600;
    color: #27374D;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #106eea;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #0d58ba;
}

#footer .footer-top {
    padding: 30px 0 30px 0;
    background: #DDE6ED;
}

#footer .footer-top .footer-contact {
    margin-bottom: 20px;
}

#footer .footer-top h3 {
    font-size: calc(1.1rem + .8vw);
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #526D82;
}

#footer .footer-top h3 span {
    color: #27374D;
}

#footer .footer-top h5 {
    font-size: calc(0.8rem + .5vw);
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #526D82;
}

#footer .footer-top h5 span {
    color: #27374D;
}

#footer .footer-top .footer-contact p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #27374D;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #27374D;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 20px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 4px;
    color: #27374D;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #526D82;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #27374D;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #526D82;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    text-align: center;
    float: left;
    font-size: calc(.8rem + .1vw);
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: calc(.8rem + .1vw);
    color: #444444;
}

@media (max-width: 768px) {

    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 2px 0;
    }
}

.footer-icon {
    vertical-align: middle;
}

.footer-icon-img {
    height: 30px;
}

.wrap-int {
    display: flex;
    align-items: flex-start;
}

.wrap-int-bi {
    flex-shrink: 0;
}

.announcements .table td span {
    font-weight: 600;
}

.events {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/events.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.events .section-title {
    color: #fff;
}

.event-marquee-1 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-container-1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    animation: event-marquee-1 15s linear infinite;
    width: fit-content;
}

@keyframes event-marquee-1 {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: rotateY(90deg);
    }

    40% {
        transform: rotateY(0deg);
    }

    60% {
        transform: rotateY(0deg);
    }

    80% {
        transform: rotateY(-90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.event-container-1:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.event-marquee {
    overflow: hidden;
}

.event-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    animation: event-marquee 20s linear infinite;
    width: fit-content;
}

@keyframes event-marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.event-container:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.events .event-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 1em;
    background: #fff;
    transition: ease-in-out 0.3s;
    min-width: 350px;
    max-width: 500px;
}

.events .event-box .date {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.events .event-box .date2 {
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
}

.events .event-box .date h6 {
    font-size: calc(1rem + .2vw);
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
    transition: ease-in-out 0.3s;
}

.events .event-box .date2 h6 {
    font-size: calc(0.8rem + .2vw);
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
    transition: ease-in-out 0.3s;
}

.events .event-box .date span {
    display: block;
    color: #1f272b;
    margin-top: 10px;
    transition: ease-in-out 0.3s;
}

.events .event-box .date2 span {
    font-weight: 600;
    color: #1f272b;
    margin-left: 5px;
    transition: ease-in-out 0.3s;
}

.events .event-box .info {
    display: inline-block;
    padding: 10px;
}

.events .event-box h4 {
    color: #27374D;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: calc(1rem + .2vw);
    transition: ease-in-out 0.3s;
}

.events .event-box p {
    line-height: 24px;
    font-size: calc(0.8rem + .1vw);
    margin-bottom: 0;
}

.events .event-box:hover .date h6,
.events .event-box:hover .date2 h6 {
    color: #1f272b;
}

.events .event-box:hover .date span,
.events .event-box:hover .date2 span {
    color: #a12c2f;
}

.events .event-box:hover h4 {
    color: #a12c2f;
    font-size: calc(1.05rem + .2vw);
}

.videogallery .video-youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videogallery .video-youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.videogallery .video-facebook-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

.videogallery .video-facebook-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.notablealumni .member {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    margin: 0px auto 20px;
    max-width: 300px;
    transition: ease-in-out 0.3s;
}

.notablealumni .member:hover {
    transform: scale(1.05);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.notablealumni .member img {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
}

.notablealumni .member .member-content {
    padding: 0 20px 30px 20px;
}

.notablealumni .member h4 {
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 20px;
    color: #27374D;
}

.notablealumni .member p {
    font-size: 16px;
    font-style: italic;
    color: #526D82;
    margin-bottom: 5px;
}

.notablealumni .member span {
    font-style: italic;
    display: block;
    font-size: 16px;
    color: #27374D;
}

.notablealumni .member img {
    transition: ease-in-out 0.3s;
}

.notablealumni .member img:hover {
    transform: scale(1.05);
}

.formeracademics .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.formeracademics .member .pic {
    overflow: hidden;
    padding: 20px;
}

.formeracademics .member img {
    width: 200px;
    transition: ease-in-out 0.3s;
    border: 1px solid #9DB2BF;
    border-radius: 30%;
}

.formeracademics .member:hover img {
    transform: scale(1.05);
}

.formeracademics .member .member-info {
    position: absolute;
    bottom: -60px;
    left: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.formeracademics .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 16px;
    color: #27374D;
    position: relative;
    padding-bottom: 5px;
}

.formeracademics .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #27374D;
    bottom: 0;
    left: calc(50% - 25px);
}

.formeracademics .member span {
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #27374D;
}

.formeracademics .member .social {
    position: absolute;
    left: 8px;
    top: 15px;
    opacity: 0;
    transition: top ease-in-out 0.4s;
    text-align: center;
}

.formeracademics .member .social a {
    margin: 5px 0;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: rgba(39, 55, 77, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.formeracademics .member .social a i {
    line-height: 0;
}

.formeracademics .member .social a:hover {
    color: #9DB2BF;
}

.formeracademics .member .social i {
    font-size: 18px;
    margin: 10px 2px;
}

.formeracademics .member:hover .social {
    top: 40px;
    opacity: 1;
}

.academicschedule .table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(167, 173, 182, 0.1);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(82, 95, 113, 0.1);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

.academicschedule .table-primary {
    --bs-table-color: #000;
    --bs-table-bg: #A7ADB6;
    --bs-table-border-color: #a6b5cc;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.academicschedule .table td {
    vertical-align: middle;
    font-style: italic;
}

.academicschedule .table .comp {
    font-style: normal;
    color: #27374D;
    font-weight: 600;
}

@media (max-width: 576px) {
    .academicschedule .table-responsive {
        font-size: 12px !important;
    }
}

@media (min-width: 576px) {
    .academicschedule .table-responsive {
        font-size: 14px !important;
    }
}

@media (min-width: 768px) {
    .academicschedule .table-responsive {
        font-size: 16px !important;
    }
}

.academicschedule .table .subHead {
    background-color: #C7CAD1;
    font-weight: bold;
}

.studentsassociation .fancy-hr {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.studentsassociation .fancy-hr::before,
.studentsassociation .fancy-hr::after {
    content: "";
    flex-grow: 1;
    background: linear-gradient(to right, transparent, #27374D, transparent);
    height: 2px;
    margin: 0 10px;
}

.studentsassociation .sa-link a {
    font-size: calc(1rem + .5vw);
    font-weight: 600;
}

.studentsassociation .each-association img {
    border-radius: 5%;
    min-width: 100%;
}

.studentsassociation .each-association h3 {
    color: #27374D;
    font-size: calc(1.1rem + .7vw);
    font-weight: 700;
    margin-bottom: 10px;
}

.studentsassociation .each-association .social-links h4 {
    font-size: calc(1.1rem + .3vw);
    color: #526D82;
}

.studentsassociation .each-association .social-links {
    margin-top: 10px;
}

.studentsassociation .each-association .social-links .icon-box {
    display: flex;
    align-items: center;
}

.studentsassociation .each-association .social-links .icon-box a {
    margin: 0 10px;
    text-decoration: none;
    color: #27374D;
}

.studentsassociation .each-association .social-links .icon-box a .bi-youtube {
    font-size: calc(1.2rem + .8vw);
}

.studentsassociation .each-association .social-links .icon-box a .bi-instagram {
    font-size: calc(1.2rem + .5vw);
}

.studentsassociation .each-association .social-links .icon-box a:hover {
    color: #526D82;
}

.studentsassociation .each-association .person-row h4 {
    font-size: calc(1.1rem + .3vw);
    color: #526D82;
    margin-bottom: 10px;
}

.studentsassociation .each-association .person-container {
    position: relative;
}

.studentsassociation .each-association .person {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.studentsassociation .each-association .person img {
    border-radius: 50%;
    border: 1px solid #526D82;
    object-fit: cover;
}

.studentsassociation .each-association .person:hover {
    top: -10px;
    z-index: 2;
}

@media (max-width: 350px) {
    .studentsassociation .each-association .person-container {
        height: 35px;
    }

    .studentsassociation .each-association .person img {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 350px) {
    .studentsassociation .each-association .person-container {
        height: 45px;
    }

    .studentsassociation .each-association .person img {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 470px) {
    .studentsassociation .each-association .person-container {
        height: 50px;
    }

    .studentsassociation .each-association .person img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 576px) {
    .studentsassociation .each-association .person-container {
        height: 60px;
    }

    .studentsassociation .each-association .person img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {
    .studentsassociation .each-association .person-container {
        height: 80px;
    }

    .studentsassociation .each-association .person img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 992px) {
    .studentsassociation .each-association .person-container {
        height: 80px;
    }

    .studentsassociation .each-association .person img {
        width: 80px;
        height: 80px;
    }
}

.sa-event {
    margin-top: 10px;
}

.studentsassociation .sa-event h4 {
    font-size: calc(1.1rem + .3vw);
    color: #526D82;
    margin-bottom: 8px;
}

.sa-event-marquee {
    overflow: hidden;
}

.sa-event-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    animation: sa-event-marquee 20s linear infinite;
    width: fit-content;
}

@keyframes sa-event-marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.sa-event-container:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.studentsassociation .sa-event-box {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 1em;
    background: #B9BDC5;
    transition: ease-in-out 0.3s;
    min-width: 300px;
    max-width: 400px;
}

.studentsassociation .sa-event-box .sa-date {
    text-align: center;
    display: inline-block;
    padding: 8px;
}

.studentsassociation .sa-event-box .sa-date2 {
    text-align: center;
    display: inline-block;
    padding: 4px 8px;
}

.studentsassociation .sa-event-box .sa-date h6 {
    font-size: calc(0.9rem + .2vw);
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
    transition: ease-in-out 0.3s;
}

.studentsassociation .sa-event-box .sa-date2 h6 {
    font-size: calc(0.7rem + .2vw);
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
    transition: ease-in-out 0.3s;
}

.studentsassociation .sa-event-box .sa-date span {
    display: block;
    color: #1f272b;
    margin-top: 8px;
    transition: ease-in-out 0.3s;
}

.studentsassociation .sa-event-box .sa-date2 span {
    font-weight: 600;
    color: #1f272b;
    margin-left: 5px;
    transition: ease-in-out 0.3s;
}

.studentsassociation .sa-event-box .info {
    display: inline-block;
    padding: 8px;
}

.studentsassociation .sa-event-box h4 {
    color: #27374D;
    font-weight: 700;
    margin-bottom: 4px;
    font-size: calc(0.9rem + .2vw);
    transition: ease-in-out 0.3s;
}

.studentsassociation .sa-event-box p {
    line-height: 24px;
    font-size: calc(0.7rem + .1vw);
    margin-bottom: 0;
}

.studentsassociation .sa-event-box:hover h4 {
    color: #a12c2f;
}